# Recipe Title
#### Tags
["TAG-1","TAG-2"]

#### Notes
Notes about the recipe go here

#### Ingredients
 - [ ] Ingredient 1
 - [ ] Ingredient 2
 - [ ] Ingredient 3

#### Method
1. Step 1 of method
2. Step 2 of method
3. Step 3 of method
